---
import '../styles/global.css'
import Hero from './Hero'
---

<html lang="en">
	<head>
    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K2DLSDGK');</script>
      <!-- End Google Tag Manager -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SupplyCheck</title>
	</head>
	<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2DLSDGK"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    <header class="w-full bg-gray-100">
      <div class="max-w-5xl mx-auto flex justify-between items-center h-16">

        <div class="text-xl font-bold">SupplyCheck</div>

        <div>
          <button>Sign In</button>
          <button>Sign Up</button>
        </div>

      </div>
    </header>

    <Hero />




	</body>
</html>
